# Python
__pycache__/
*/__pycache/
*.py[cod]

# Virtual environments
venv/
venv1/

# Pytest / Playwright
.pytest_cache/
test-results/
report.html
playwright-report/
allure-results/
allure-report/

# IDE / OS
.DS_Store
.vscode/
.idea/

.gitignore